body {
	text-align: center;
	line-height: 267px;
	font-size: 40px;
	font-family: sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	color: white;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 1px;
}

.overlay-wrapper {
	width: 400px;
	height: 267px;
	margin: 20px auto;

	/* add your code here */
	position: relative;


}

.overlay {
	width: 400px;
	height: 267px;
	background-color: rgba(221, 82, 56, .9);

	/* add your code here */
	position: absolute;
	top: 0;
	transition: all 0.5s ease-in-out;


}

.overlay:hover {
	opacity: 0;
}